<section class="footer-section " id="footer">
    <div class="container pt-5">
        <div class="row">
            <div class="col-md-4">
                <div class="text-white text-center">
                    <h3>LOCATION</h3>
                    <p>2215 John Daniel Drive</p>
                    <p class="mt-2">Clark, MO 65243</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class=" text-white text-center">
                    <h3>AROUND THE WEB</h3>
                    <div class=" icons d-flex justify-content-around  mt-2">
                        <a href="#" class="text-white me-3"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="text-white me-3"><i class="fab fa-twitter"></i></a>
                        <a href="#" class="text-white me-3"><i class="fab fa-linkedin-in"></i></a>
                        <a href="#" class="text-white me-3"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class=" text-white text-center">
                    <h3>ABOUT FREELANCER</h3>
                    <p class="mt-2  ">Freelance is a free to use, licensed Bootstrap theme created by Route</p>
                </div>
            </div>
        </div>
 
    </div>

    <div>
        <div class="copy text-center text-white py-3">
            <p> Copyright &copy; Your Website 2021</p>
        </div>
    </div>
    
</section>












