<section class="about-section text-white" id="about">
<div class="vh-100 d-flex flex-column justify-content-center align-items-center">

        <h2>ABOUT COMPONENT </h2>


    <div class="star-icon position-relative mb-2 ">
        <i class="fa-solid fa-star text-white fs-5"></i>
    </div>

    <div class=" w-50 d-flex">
        <p class="w-75">Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML,
        CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
        <p class="w-75">Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML,
        CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
    </div>


</div>



</section>