<section class="portofolio-section mt-5" id="portfolio">
<div class="header text-center pt-5">
    <h2 class="mt-5">ABOUT COMPONENT </h2>
    <div class="star-icon position-relative  mx-auto mb-2 ">
        <i class=" fa-solid fa-star fs-4 "></i>
    </div>
</div>

    <div class="container my-4">
        <div class="row g-4">
            <div data-bs-toggle="modal" data-bs-target="#exampleModal1" class="col-md-4">
                <div class="portofolio-item position-relative  ">
                    <img class="w-100 rounded-4" src="/poert1.png" alt="">
    
                    <div class="hidden-layer rounded-4 position-absolute  d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-plus "></i>
                    </div>

                </div>
            </div>

            <div data-bs-toggle="modal" data-bs-target="#exampleModal2" class="col-md-4">
                <div class="portofolio-item position-relative">
                    <img class="w-100 rounded-4" src="/port2.png" alt="">
            
                    <div class="hidden-layer rounded-4 position-absolute  d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-plus "></i>
                    </div>
            
                </div>
            </div>

            <div data-bs-toggle="modal" data-bs-target="#exampleModal3" class="col-md-4">
                <div class="portofolio-item position-relative">
                    <img class="w-100 rounded-4" src="/port3.png" alt="">
            
                    <div class="hidden-layer rounded-4 position-absolute  d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-plus "></i>
                    </div>
            
                </div>
            </div>



                        <div data-bs-toggle="modal" data-bs-target="#exampleModal1" class="col-md-4">
                            <div class="portofolio-item position-relative  ">
                                <img class="w-100 rounded-4" src="/poert1.png" alt="">
                        
                                <div class="hidden-layer rounded-4 position-absolute  d-flex justify-content-center align-items-center">
                                    <i class="fa-solid fa-plus "></i>
                                </div>
                        
                            </div>
                        </div>
                        
                        <div data-bs-toggle="modal" data-bs-target="#exampleModal2" class="col-md-4">
                            <div class="portofolio-item position-relative">
                                <img class="w-100 rounded-4" src="/port2.png" alt="">
                        
                                <div class="hidden-layer rounded-4 position-absolute  d-flex justify-content-center align-items-center">
                                    <i class="fa-solid fa-plus "></i>
                                </div>
                        
                            </div>
                        </div>
                        
                        <div data-bs-toggle="modal" data-bs-target="#exampleModal3" class="col-md-4">
                            <div class="portofolio-item position-relative">
                                <img class="w-100 rounded-4" src="/port3.png" alt="">
                        
                                <div class="hidden-layer rounded-4 position-absolute  d-flex justify-content-center align-items-center">
                                    <i class="fa-solid fa-plus "></i>
                                </div>
                        
                            </div>
                        </div>

            
        </div>
    </div>





    <!-- Modal -->
    <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <img class="img-fluid" src="/poert1.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <img class="img-fluid" src="/port2.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <img class="img-fluid" src="/port3.png" alt="">
                </div>
            </div>
        </div>
    </div>

</section>