<section class="contact-section mt-5" id="contact">
    <div class="header text-center py-5">
        <h2 class="mt-5">CONTACT COMPONENT </h2>
        <div class="star-icon position-relative  mx-auto mb-2 ">
            <i class=" fa-solid fa-star fs-4 "></i>
        </div>

        <div class="w-50 mx-auto d-flex flex-column align-items-center ">
            <input type="text" class="form-control w-100 my-3 " placeholder="Name">
            <input type="email" class="form-control w-100 my-3" placeholder="Age">
            <input type="text" class="form-control w-100 my-3" placeholder="Email">
            <input type="text" class="form-control w-100 my-3" placeholder="Password">
            <button class="btn me-auto btn-success   my-2">Send Message</button>
        </div>
    </div>
</section>