.home-section{
    background-color: #1ABC9C;
}
.home-section img{
    width: 250px;
    /* height: 100%; */
}


.home-section .star-icon::before{
    content: "";
    position: absolute;
    width: 100px;
    height: 5px;
    top: 10px;
    left: -120px;
    background-color: #fff;
    
}
.home-section .star-icon::after{
    content: "";
    position: absolute;
    width: 100px;
    height: 5px;
    top: 10px;
    left: 45px;
    background-color: #fff;
    
}